.vewi {
	height: 100px ;
	width: 100% ;
	background: #fdf5e6;
}
	body {
  margin: 0;
  padding: 0;
}
.Logo-cosmo {
	margin-left: 100px;
	padding: 0;
	color: #9900CC;
	text-decoration: none;
	font-size: 50px;
	font-family: 'Archivo Black', sans-serif;
    font-family: 'Black Han Sans', sans-serif;
  	transform: translate(8px, -120px);
  	cursor: default;
	
}
.svaz{
	color: #FFA500;
	cursor: default;
	font-size: 30px;
	transform: translate(1640px, -220px);
	font-family: Arial black;
	border: none;
	background-color: rgb(240, 248, 255, 0)
}
.svaz:hover{
	color: orangered;
	cursor: default;
}
.top{
	transform: translate(-0px, -200px)
}
.wi1 {
	font-size: 20px;
	font-family: sans-serif;
	text-decoration: none;
	color: black;
}
.ot {
	transform: translate(1px, -230px);
	background-color: #E6E6FA;
	width: 300px;
	height: 500px;
}

.btn{
	height: 50px;
	width: 299px;
	font-size: 20px;
	background-color: rgb(240, 248, 255, 0);
	border: solid 2px gray;
	color: gray;
}
.btn2 {
	height: 50px;
	width: 299px;
	font-size: 20px;
	background-color: rgb(240, 248, 255, 0);
	border: solid 2px gray;
}




